.wrapper {
  background-image: url("../../assets/bg.png");
  background-repeat: repeat;
  background-color: #8ed8bf;
}

.overlay {
  position: fixed;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.overlay-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.overlay input {
  display: block;
  margin: 10px auto;
  padding: 8px;
  width: 80%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.overlay button {
  margin: 5px;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
