.menulist-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.menulist-container {
    margin: 1rem;
    width: 95%;
    height: 80vh;
    background: #605858;
    border-radius: 6px;
    color: #F4F3F1F0;
}

.menu-heading {
    padding: 0.5rem;
}