.order-wrapper {
  background-color: #eeeeee;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.order-header {
  height: 5rem;
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}

.totalamount {
  width: 100%;
  background-color: #3531313d;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 5rem;
  align-items: center;
  padding: 1rem;
}

.submit-order {
  width: 100%;
  min-height: 5rem;
  padding: 1rem;
  background-color: #353131;
  color: #eeeeee;
}

.order-item {
  min-height: 5rem;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.empty-cart {
  align-self: center;
  justify-self: center;
}

.order-item-left {
  display: flex;
  align-items: center;
}

.order-item-right {
  display: flex;
  align-items: center;
}

.remove-icon {
  margin-right: 0.5rem;
  font-size: x-large;
}
